<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body class="container mt-4">
    <p class="fw-bold fs-3 text-info-emphasis">Weledi Blog</p>
  
    <div class="about">
        <div class="mb-2">
            <p>
                <strong class="text-secondary">Weledi 📚 </strong> is a knowledge-driven blog focused on technology, data, and innovation in Africa. It explores programming, data science, blockchain, simulations, and real-world problem solving, turning complex ideas into practical insights that students, developers, and curious minds can apply immediately.
            </p>
        </div>
        <div>
            <p>
                Weledi — Turning ideas, data, and code into real-world impact.
            </p>
        </div>
    </div>
    <div>
        <a href="{% url 'about-page' %}" class="text-decoration-none"> 🤔 Do you know us?</a>

    </div>

    <div class="mt-4">
        <div class="d-inline p-2 text-bg-primary">Copyright</div>
        <div class="d-inline p-2 text-bg-dark">2026</div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>